/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~assets/Fonts/font.css';

html {
    height: 100%;
}
body {
    background-color: black;
    background-image: url('assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
/*
body:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.83;
    background-color: black;
    pointer-events: none;
}*/

.grey1 {
    color: #6a7073;
}
.grey2 {
    color: #6a7073;
}
.dark-green {
    color: #536a30
}
.light-green {
    color: #a2c75c
}
.bright-green {
    color: #a7cf5e
}
.light-grey {
    background-color: #d6d6d6
}
.blackish {
    color: #050606
}
.whiteish {
    background-color: #f6f6f6
}
.dark-green {
    color: #536a30
}

h1 {
    margin: 10px;
}
.mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-card,
.mat-list .mat-list-item .mat-list-item-content, .mat-nav-list .mat-list-item .mat-list-item-content {
    font-family: 'Comic Neue', sans-serif !important;
    /*font-weight: 400;
    font-size: 1em;
    line-height: 1.5;*/
    /* Enable a font's kerning: http://stackoverflow.com/questions/15160897/font-feature-settings-what-is-the-correct-syntax */
    font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    -webkit-font-feature-settings: "kern";
}
